body {
    font-family: $fonts-prim;
    
}

h1,
h2,
h3,
.menu-item,
button {
    text-transform: uppercase;
    font-family: $fonts-sec;
    letter-spacing: 4px;
}

h1,
h2 {
    font-size: 1rem * 1.125;
    color: $color-grey;
}

h3,
.menu-item,
button .button-cta {
    font-size: 1rem * 0.875;
    color: $color-white;
}

p,
p + a {
    font-size: 1rem;
    letter-spacing: 0.25px;
}

p {
    color: $color-grey;
}

p + a {
    color: $color-link;
    text-decoration: none;
}
