body {
    font-family: $fonts-prim;
}

h1,
h2,
h3,
.menu-item,
button,

/* a.button-cta */

{
    text-transform: uppercase;
    font-family: $fonts-sec;
    letter-spacing: 4px;
}

h1,
h2 {
    font-size: 1.125rem;
    color: $color-grey;
}

h3,
.menu-item,
button
/* .button-cta,
a.button-cta */

{
    font-size: 0.875rem;
    color: $color-white;
}

p,
p + a {
    font-size: 1rem;
    letter-spacing: 0.25px;
}

p {
    color: $color-grey;
}

a {
    color: $color-link;
    text-decoration: none;
}

[class^=link] {
    font-family: $fonts-sec;
    font-size: (14/16) + rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}
