body {
    font-size: $root-font-size;
    font-family: $fonts-prim;
}

h1,
h2,
h3,
.menu-item,
button {
    text-transform: uppercase;
    font-family: $fonts-sec;
    letter-spacing: 4px;
}

h1,
h2 {
    font-size: px-to-rem(18);
    color: $color-grey;
}

h3,
.menu-item,
button {
    font-size: px-to-rem(14);
    color: $color-white;
}

p,
p + a {
    font-size: px-to-rem(16);
    letter-spacing: 0.25px;
}

p {
    color: $color-grey;
}

a {
    color: $color-link;
    text-decoration: none;
}

[class^=link] {
    font-family: $fonts-sec;
    font-size: px-to-rem(14);
    text-transform: uppercase;
    letter-spacing: 4px;
}
