$color-light-grey: #F5F5F5;
$color-grey: #333;
$color-white: #fff;
$color-link: #238EC4;
$color-pelorous: #35BCBC;
$color-ripe-lemon: #F8D71C;
$color-curious-blue: #238EC4;
$color-outrageous-orange: #FF6736;
$color-chateau-green: #40BC5E;
$color-medium-purple: #A66BD9;

$fonts-prim: "adelle", serif;
$fonts-sec: "futura-pt", sans-serif;

$root-font-size: 16; // Used for @function px-to-rem

$path-img: '../img/';