.header {
  display: block;
  background: #35BCBC;
  width: 100%;
  padding: 1.5rem; }

#logo {
  margin-bottom: 0; }

#logo + #name {
  margin-top: -.95rem; }

/* Mobile menu button */
.menu-toggle {
  position: relative;
  top: 0px;
  width: 24px;
  height: 24px;
  margin: 0 auto; }
  .menu-toggle .hamburger-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .menu-toggle .hamburger-icon-line {
      width: 100%;
      height: 4px;
      margin: 4px 0;
      background-color: #fff;
      transition: all .1s; }
  .menu-toggle.clicked {
    top: 4px; }
    .menu-toggle.clicked .hamburger-icon-line {
      margin: 0; }
    .menu-toggle.clicked .hamburger-icon-line:nth-child(1) {
      transform: rotate(45deg); }
    .menu-toggle.clicked .hamburger-icon-line:nth-child(2) {
      display: none; }
    .menu-toggle.clicked .hamburger-icon-line:nth-child(3) {
      margin-top: -3px;
      transform: rotate(-45deg); }

/* Mobile menu */
.menu-closed {
  display: none; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  height: 2.25rem;
  padding: 0 1.125rem;
  border-radius: 1.125rem;
  display: inline-block; }
  button.button-cta {
    background-color: #333;
    color: #fff; }

p + a.link-sec {
  display: block; }

.tag {
  font-family: FuturaPT-Book, sans-serif;
  font-size: .75rem;
  color: #333;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  display: inline-block; }
