/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16;
  font-family: "adelle", serif; }

h1,
h2,
h3,
.menu-item,
button {
  text-transform: uppercase;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  letter-spacing: 4px; }

h1,
h2 {
  font-size: 1.125rem;
  color: #333; }

h3,
.menu-item,
button {
  font-size: 0.875rem;
  color: #fff; }

p,
p + a {
  font-size: 1rem;
  letter-spacing: 0.25px; }

p {
  color: #333; }

a {
  color: #238EC4;
  text-decoration: none; }

[class^=link] {
  font-family: "futura-pt", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px; }

body {
  padding: 0.75rem;
  text-align: center; }

main {
  padding-bottom: 7.5rem; }

p {
  margin: 0 auto;
  max-width: 45rem; }

.tags + p {
  margin: 0.75rem auto; }

/* Inject with Javascript enabled for progressive enhancement */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .js .module-item {
    width: calc(50% - 2px);
    float: left; }
    .js .module-item:nth-child(even) {
      margin-right: 2px; }
    .js .module-item:nth-child(odd) {
      margin-left: 2px; } }

@media screen and (min-width: 1024px) {
  .js .module-item {
    width: calc((1/3 * 100%) - (8/3 * 1px));
    float: left; }
    .js .module-item:nth-child(3n + 2) {
      margin-right: 2px; }
    .js .module-item:nth-child(3n + 1) {
      margin-left: 2px; }
    .js .module-item:nth-child(3n + 0) {
      margin-left: 2px;
      margin-right: 2px; } }

.header {
  display: block;
  background: #35BCBC;
  width: 100%;
  padding: 1.5rem; }

#logo {
  margin-bottom: 0; }

#logo + #name {
  margin-top: -0.95rem; }

/* Mobile menu button */
.menu-toggle {
  cursor: pointer;
  position: relative;
  top: 0;
  width: 1.625rem;
  height: 1.25rem;
  margin: 2rem auto 0; }
  .menu-toggle .hamburger-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .menu-toggle .hamburger-icon-line {
      width: 100%;
      height: 4px;
      margin: 4px 0;
      transition: all .1s;
      background-color: #fff; }
  .menu-toggle.clicked .hamburger-icon-line {
    margin: 0; }
  .menu-toggle.clicked .hamburger-icon-line:nth-child(1) {
    transform: rotate(45deg); }
  .menu-toggle.clicked .hamburger-icon-line:nth-child(2) {
    display: none; }
  .menu-toggle.clicked .hamburger-icon-line:nth-child(3) {
    margin-top: -3px;
    transform: rotate(-45deg); }

/* Mobile menu */
.menu-closed {
  display: none; }

.menu-open {
  display: block;
  margin-top: 1.5rem; }

/* Menu items */
.menu-item a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.375rem 0.875rem; }

button {
  display: inline-block;
  height: 2.25rem;
  padding: 0 1.125rem;
  cursor: pointer;
  border: none;
  border-radius: 1.125rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.button-cta-oncolor {
  color: #333;
  background-color: #fff; }

[class^=link] {
  display: table;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.46875rem 1.125rem;
  border-radius: 1.125rem;
  margin: 0.75rem 0; }

.link-sec {
  background-color: transparent; }

.link-cta {
  background-color: #333;
  color: #fff; }

.project-header {
  position: relative;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; }
  .project-header:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 40.54054%; }
  .project-header > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .project-header .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center; }

.js .project-desc {
  display: none; }
  .js .project-desc[data-state=visible] {
    display: block; }

.js .button-cta-oncolor {
  opacity: 0; }
  .js .button-cta-oncolor:focus {
    opacity: 1; }

.js .project-header:hover .project-title {
  opacity: 0; }

.js .project-header:hover .button-cta-oncolor {
  opacity: 1; }

.project-desc {
  background-color: #F5F5F5;
  padding: 1.75rem 0.75rem 1.5rem; }

#project-1 .project-header {
  background-color: #F8D71C;
  background-image: url(../img/responsive.jpg); }

#project-2 .project-header {
  background-color: #238EC4;
  background-image: url(../img/forms.jpg); }

#project-3 .project-header {
  background-color: #FF6736;
  background-image: url(../img/video.jpg); }

#project-4 .project-header {
  background-color: #40BC5E;
  background-image: url(../img/charts.jpg); }

#project-5 .project-header {
  background-color: #A66BD9;
  background-image: url(../img/api.jpg); }

#project-6 .project-header {
  background-color: #35BCBC;
  background-image: url(../img/performance.jpg); }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #project-1 .project-header {
    background-color: #F8D71C;
    background-image: url(../img/responsive@2x.jpg); }
  #project-2 .project-header {
    background-color: #238EC4;
    background-image: url(../img/forms@2x.jpg); }
  #project-3 .project-header {
    background-color: #FF6736;
    background-image: url(../img/video@2x.jpg); }
  #project-4 .project-header {
    background-color: #40BC5E;
    background-image: url(../img/charts@2x.jpg); }
  #project-5 .project-header {
    background-color: #A66BD9;
    background-image: url(../img/api@2x.jpg); }
  #project-6 .project-header {
    background-color: #35BCBC;
    background-image: url(../img/performance@2x.jpg); } }

.project-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center; }

.tags {
  font-size: 0; }

.tag {
  font-family: "futura-pt", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #333;
  margin: 0.25rem 0.75rem; }

.module:after {
  display: table;
  content: '';
  clear: both; }

.module > header {
  position: relative;
  height: 6.75rem; }

.module-item:not(:last-child) {
  margin-bottom: 0.25rem; }

.module-title,
.project-header .button-cta-oncolor {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.module-title:after {
  position: absolute;
  bottom: -1.125rem;
  left: 50%;
  width: 1.5rem;
  content: '';
  transform: translateX(-50%);
  border: 0.125rem solid #333; }

#social-linkedin {
  background-image: url(../img/icon-social-linkedin.svg); }

#social-mail {
  background-image: url(../img/icon-social-mail.svg); }

#social-twitter {
  background-image: url(../img/icon-social-twitter.svg); }

.social-links {
  font-size: 0; }

.social-link {
  display: inline-block;
  margin: 0 0.375rem;
  border: 0.25rem solid #35BCBC;
  border-radius: 50%; }
  .social-link a {
    display: inline-block;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    text-indent: -999999px;
    background-size: 100%; }
