button {
    display: inline-block;
    height: (36/16) + rem;
    padding: 0 (18/16) + rem;
    cursor: pointer;
    border: none;
    border-radius: (18/16) + rem;
    appearance: none;
}

.button-cta-oncolor {
    color: $color-grey;
    background-color: $color-white;
}