button {
    height: px-to-rem(36);
    padding: 0 px-to-rem(18);
    cursor: pointer;
    border: none;
    border-radius: px-to-rem(18);
    appearance: none;
}

.button-cta-oncolor {
    color: $color-grey;
    background-color: $color-white;
}