/* button {
    display: inline-block;
    height: (36/16) + rem;
    padding: 0 (18/16) + rem;
    cursor: pointer;
    border: none;
    border-radius: (18/16) + rem;
    appearance: none;
}

.button-cta {
    color: $color-white;
    background-color: $color-grey;
}
 */