[class^=link] {
    display: table;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: px-to-rem(7.5) px-to-rem(18);
    border-radius: px-to-rem(18);
    margin: px-to-rem(12) 0;
}

.link-sec {
    background-color: transparent;
}

.link-cta {
    background-color: $color-grey;
    color: $color-white;
}
