/* Links */


// Give links the same hit area as buttons

[class^=link] {
    position: relative;
    left: 50%;
    display: table;
    margin: px-to-rem(12) 0;
    padding: px-to-rem(7.5) px-to-rem(18);
    transform: translateX(-50%);
    border-radius: px-to-rem(18);
}


// Style secondary links

.link-sec {
    background-color: transparent;
    &:after {
        position: absolute;
        bottom: - px-to-rem(2);
        left: 50%;
        width: px-to-rem(0);
        content: '';
        transition: all .2s linear;
        transform: translateX(-50%);
        border: px-to-rem(2) solid transparent;
    }
    &:hover,
    &:focus,
    &:active {
        outline: none;
        border: 0;
        &:after {
            width: px-to-rem(24);
            transition: all .2s linear;
            border: px-to-rem(2) solid $color-link;
        }
    }
}


// And the primary ones if available

.link-cta {
    color: $color-white;
    background-color: $color-grey;
}

