/* 

WORK IN PROGRESS 

- fixing button to link with same appearance

*/

.link-sec {
    font-family: $fonts-sec;
    text-transform: uppercase;
    font-size: (11/16) + rem;
    letter-spacing: 4px;
    display: table;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: .375rem (14/16) + rem;
    background-color: transparent;
    border-radius: (18/16) + rem;
    background-color: transparent;
    margin: 0.75rem 0;
}

.button-cta {
    color: $color-white;
    background-color: $color-grey;
    font-family: $fonts-sec;
    text-transform: uppercase;
    font-size: (11/16) + rem;
    letter-spacing: 4px;
    display: table;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: .375rem (14/16) + rem;
    background-color: transparent;
    border-radius: (18/16) + rem;
    background-color: transparent;
    margin: 0.75rem 0;
}
