.menu {
    margin-top: px-to-rem(24);
}
.menu li.menu-item {
    display: list-item;
}


/* JS menu button */

.menu-toggle {
    cursor: pointer;
    position: relative;
    top: 0;
    width: px-to-rem(26);
    height: px-to-rem(20);
    margin: px-to-rem(32) auto 0;
    .hamburger-icon {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        &-line {
            width: 100%;
            height: 4px;
            margin: 4px 0;
            transition: all .1s;
            background-color: $color-white;
        }
    }
    &.clicked {
        .hamburger-icon-line {
            margin: 0;
        }
        .hamburger-icon-line:nth-child(1) {
            transform: rotate(45deg);
        }
        .hamburger-icon-line:nth-child(2) {
            display: none;
        }
        .hamburger-icon-line:nth-child(3) {
            margin-top: -3px;
            transform: rotate(-45deg);
        }
    }
}


/* Toggle visibility menu */

.menu-closed {
    display: none;
}

.menu-open {
    display: block;
}


/* Menu items */

.menu-item a {
    color: $color-white;
    text-decoration: none;
    display: block;
    padding: px-to-rem(6) px-to-rem(14);
}
