.menu {
    margin-top: px-to-rem(24);
}

.menu li.menu-item {
    display: list-item;
    position: relative;
    a:after {
        position: absolute;
        bottom: - px-to-rem(2);
        left: 50%;
        width: px-to-rem(0);
        content: '';
        transform: translateX(-50%);
        border: px-to-rem(2) solid transparent;
        transition: all .2s linear;
    }
    a:hover,
    a:focus,
    a:active {
        outline: none;
        border: 0;
        &:after {
            position: absolute;
            bottom: - px-to-rem(2);
            left: 50%;
            width: px-to-rem(24);
            content: '';
            transform: translateX(-50%);
            border: px-to-rem(2) solid $color-white;
        }
    }
}


/* JS menu button */

.menu-toggle {
    position: relative;
    width: px-to-rem(48);
    height: px-to-rem(48);
    margin: px-to-rem(18) auto 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    &:hover,
    &:focus {
        background-color: white;
        outline: 0;
        border: none;
        .hamburger-icon-line {
            background-color: $color-grey;
        }
    }
    .hamburger-icon {
        position: absolute;
        top: px-to-rem(10);
        left: px-to-rem(12);
        width: px-to-rem(24);
        height: px-to-rem(28);
    }
    .hamburger-icon-line {
        width: 100%;
        height: px-to-rem(4);
        transition: all .1s;
        background-color: $color-white;
        margin: px-to-rem(4) 0;
    }
    &.clicked {
        .hamburger-icon-line {
            transform-origin: center;
        }
        .hamburger-icon-line:nth-child(1) {
            transform: rotate(45deg) translateX(px-to-rem(5.5)) translateY(px-to-rem(5.5));
        }
        .hamburger-icon-line:nth-child(2) {
            transform: scaleX(0);
        }
        .hamburger-icon-line:nth-child(3) {
            transform: rotate(-45deg) translateX(px-to-rem(5.5)) translateY(px-to-rem(-5.5));
        }
    }
}


/* Toggle visibility menu */

.menu-closed {
    display: none;
}

.menu-open {
    display: block;
}


/* Menu items */

.menu-item a {
    display: block;
    padding: px-to-rem(6) px-to-rem(14);
    text-decoration: none;
    color: $color-white;
}
