.module > header {
    position: relative;
    height: px-to-rem(108);
}

 .module-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.module-title:after {
    position: absolute;
    bottom: - px-to-rem(18);
    left: 50%;
    width: px-to-rem(24);
    content: '';
    transform: translateX(-50%);
    border: px-to-rem(2) solid $color-grey;
}

.module-item{
    margin-top: px-to-rem(4);
}

.module:after,
.module-item:after,
.module:before,
.module-item:before {
    display: table;
    content: '';
    clear: both;
}
