.module:after {
    display: table;
    content: '';
    clear: both;
}

.module > header {
    position: relative;
    height: px-to-rem(108);
}

.module-item:not(:last-child) {
    margin-bottom: px-to-rem(4);
}

.module-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    &:after {
        position: absolute;
        bottom: - px-to-rem(18);
        left: 50%;
        width: px-to-rem(24);
        content: '';
        transform: translateX(-50%);
        border: px-to-rem(2) solid $color-grey;
    }
}
