.project-header {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    @include aspect-ratio(296, 120);
    background-blend-mode: multiply;
    & .content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.project-desc {
    display: flex;
    width: 100%;
    background-color: $color-light-grey;
    align-items: center;
    .content {
        width: 100%;
        padding: px-to-rem(28) px-to-rem(12) px-to-rem(24);
    }
}

.project-title,
.button-cta-color {
    display: flex;
    align-self: center;
    max-width: 1200px;
}

.tags {
    font-size: 0;
}

.tag {
    font-family: $fonts-sec;
    font-size: px-to-rem(12);
    font-weight: 400;
    display: inline-block;
    margin: px-to-rem(4) px-to-rem(12);
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: $color-grey;
}

.js {
    .project-header {
        .project-title {
            transition: all .2s linear;
            overflow: hidden;
            opacity: 1;
        }
        .button-cta-oncolor {
            transition: all .2s linear;
            opacity: 0;
            &:focus,
            &:active {
                outline: none;
                border: 0;
            }
        }
        &[data-state=focus],
        &:hover,
        {
            .project-title {
                visibility: hidden;
                opacity: 0;
                max-width: 0;
                max-height: 0;
            }
            .button-cta-oncolor {
                opacity: 1;
                max-width: 600px;
                max-height: 600px;
                padding: 0 px-to-rem(18);
                cursor: pointer;
            }
        }
        &,
        &[data-state=clicked],
        &[data-state=blur] {
            .project-title {
                opacity: 1;
                max-width: 600px;
                max-height: 600px;
            }
            .button-cta-oncolor {
                opacity: 0;
                max-width: 0;
                max-height: 0;
                padding: 0;
                cursor: initial;
            }
        }
        &[data-state=clicked]:after {
            content: ' ';
            height: 0;
            position: absolute;
            width: 0;
            border: px-to-rem(12) solid transparent;
            border-bottom-color: $color-light-grey;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 999;
        }
    }
    .project-desc {
        transition: all .2s linear;
        will-change: height;
        &[data-state=hidden] {
            overflow: hidden;
            max-height: 0;
        }
        &[data-state=visible] {
            max-height: 600px;
        }
    }
    .project-desc[data-state=hidden] .content * {
        opacity: 0;
        transition: opacity 0.2s linear;
    }
    .project-desc[data-state=visible] .content * {
        opacity: 1;
        transition: opacity 0.4s linear 0.2s;
    }
}

#project-1 .project-header {
    background-color: $color-ripe-lemon;
    background-image: url(#{$path-img}responsive.jpg);
}

#project-2 .project-header {
    background-color: $color-curious-blue;
    background-image: url(#{$path-img}forms.jpg);
}

#project-3 .project-header {
    background-color: $color-outrageous-orange;
    background-image: url(#{$path-img}video.jpg);
}

#project-4 .project-header {
    background-color: $color-chateau-green;
    background-image: url(#{$path-img}charts.jpg);
}

#project-5 .project-header {
    background-color: $color-medium-purple;
    background-image: url(#{$path-img}api.jpg);
}

#project-6 .project-header {
    background-color: $color-pelorous;
    background-image: url(#{$path-img}performance.jpg);
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #project-1 .project-header {
        background-color: $color-ripe-lemon;
        background-image: url(#{$path-img}responsive@2x.jpg);
    }
    #project-2 .project-header {
        background-color: $color-curious-blue;
        background-image: url(#{$path-img}forms@2x.jpg);
    }
    #project-3 .project-header {
        background-color: $color-outrageous-orange;
        background-image: url(#{$path-img}video@2x.jpg);
    }
    #project-4 .project-header {
        background-color: $color-chateau-green;
        background-image: url(#{$path-img}charts@2x.jpg);
    }
    #project-5 .project-header {
        background-color: $color-medium-purple;
        background-image: url(#{$path-img}api@2x.jpg);
    }
    #project-6 .project-header {
        background-color: $color-pelorous;
        background-image: url(#{$path-img}performance@2x.jpg);
    }
}

.project-header:after,
.project-desc:after {
    display: table;
    clear: both;
    content: ' ';
}
