.project-header {
    @include aspect-ratio(296, 120);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    & .content {
        display: flex;
        justify-content: center;
    }
}

.js {
    .button-cta-oncolor {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: all linear .2s;
        &:focus,
        &[data-state=visible] {
            // display:block;
            opacity: 1;
        }
    }
    .project-header:hover {
        .project-title {
            // display: none;
            opacity: 0;
            transition: all linear .2s;
        }
        .button-cta-oncolor {
            // display: block;
            opacity: 1;
        }
    }
    .project-desc {
        &[data-state=hidden] {
            display: none;
        }
        &[data-state=visible] {
            display: block;
        }
    }
}

.project-desc {
    background-color: $color-light-grey;
    padding: px-to-rem(28) px-to-rem(12) px-to-rem(24);
}

#project-1 .project-header {
    background-color: $color-ripe-lemon;
    background-image: url(#{$path-img}responsive.jpg)
}

#project-2 .project-header {
    background-color: $color-curious-blue;
    background-image: url(#{$path-img}forms.jpg)
}

#project-3 .project-header {
    background-color: $color-outrageous-orange;
    background-image: url(#{$path-img}video.jpg)
}

#project-4 .project-header {
    background-color: $color-chateau-green;
    background-image: url(#{$path-img}charts.jpg)
}

#project-5 .project-header {
    background-color: $color-medium-purple;
    background-image: url(#{$path-img}api.jpg)
}

#project-6 .project-header {
    background-color: $color-pelorous;
    background-image: url(#{$path-img}performance.jpg)
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #project-1 .project-header {
        background-color: $color-ripe-lemon;
        background-image: url(#{$path-img}responsive@2x.jpg)
    }
    #project-2 .project-header {
        background-color: $color-curious-blue;
        background-image: url(#{$path-img}forms@2x.jpg)
    }
    #project-3 .project-header {
        background-color: $color-outrageous-orange;
        background-image: url(#{$path-img}video@2x.jpg)
    }
    #project-4 .project-header {
        background-color: $color-chateau-green;
        background-image: url(#{$path-img}charts@2x.jpg)
    }
    #project-5 .project-header {
        background-color: $color-medium-purple;
        background-image: url(#{$path-img}api@2x.jpg)
    }
    #project-6 .project-header {
        background-color: $color-pelorous;
        background-image: url(#{$path-img}performance@2x.jpg)
    }
}

.project-title {
    display: flex;
    align-self: center;
}

.tags {
    font-size: 0;
}

.tag {
    font-family: $fonts-sec;
    font-size: px-to-rem(12);
    font-weight: 400;
    display: inline-block;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: $color-grey;
    margin: px-to-rem(4) px-to-rem(12);
}
