/* Social icons */

#social-linkedin {
    background-image: url(#{$path-img}icon-social-linkedin.svg);
}

#social-mail {
    background-image: url(#{$path-img}icon-social-mail.svg);
}

#social-twitter {
    background-image: url(#{$path-img}icon-social-twitter.svg);
}

.social-links {
    font-size: 0;
}

.social-link {
    display: inline-block;
    margin: 0 px-to-rem(6);
    border: px-to-rem(4) solid $color-pelorous;
    border-radius: 50%;
    & a {
        display: inline-block;
        overflow: hidden;
        width: px-to-rem(48);
        height: px-to-rem(48);
        text-indent: - px-to-rem(999999);
        background-size: 100%;
    }
}

