body {
    padding: px-to-rem(12);
    text-align: center;
}

main {
    padding-bottom: px-to-rem(120);
}

p {
    margin: 0 auto;
    max-width: px-to-rem(720);
}

.tags + p {
    margin: px-to-rem(12) auto;
}
