/* Layout */

body {
    padding: px-to-rem(12);
    text-align: center;
}

main {
    padding-bottom: px-to-rem(120);
}

p {
    margin: 0 auto;
    max-width: px-to-rem(720);
}

.tags + p {
    margin: px-to-rem(12) auto;
}


// Responsiveness

@media screen and (min-width: #{$bkp-m}) {
    .menu-toggle {
        display: none;
    }
    .menu {
        display: block;
    }
    .menu li.menu-item {
        display: inline-block;
    }
}


// Injected with Javascript to enable progressive enhancement

.js {
    @media screen and (min-width: #{$bkp-m}) and (max-width: #{$bkp-m-l}) {
        .module-item {
            width: calc(50% - 2px);
            float: left;
            &:nth-child(even) {
                margin-right: px-to-rem(2);
            }
            &:nth-child(odd) {
                margin-left: px-to-rem(2);
            }
        }
    }
    @media screen and (min-width: #{$bkp-l}) {
        .module-item {
            width: calc((1/3 * 100%) - (8/3 * 1px);
            float: left;
            &:nth-child(3n + 2) {
                margin-right: px-to-rem(2);
            }
            &:nth-child(3n + 1) {
                margin-left: px-to-rem(2);
            }
            &:nth-child(3n + 0) {
                margin-left: px-to-rem(2);
                margin-right: px-to-rem(2);
            }
        }
    }
}

